@import "../../assets/scss/colors.scss";
@import "../../assets/scss/spacers.scss";
@import '../../assets/scss/mixins/breakpoint.mixins.scss';


.login-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.063rem solid $border-color;
  box-shadow: 0.125rem 0.125rem $spacer-4 $primary-color-light;
  ;
  margin-top: $spacer-16;
  @include breakpoint-to(tablet-landscape) {
    grid-template-columns: 1fr;
  }
  
  &__form {
    border-right: 0.125rem  solid $border-color;
  }
}
