@import "../../assets/scss/colors.scss";
@import "../../assets/scss/spacers.scss";
@import "../../assets/scss/mixins/typography.mixins.scss";
.input-text {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer-16;
  position: relative;

  span {
    position: absolute;
    transform: translateY(2.625rem);
    right: 2%; // top: 55%;
  }

  &__label {
    margin-bottom: $spacer-8;
    @include typography("read", "body");
  }

  &__field {
    border: 0.125rem solid $border-color;
    padding: $spacer-8;
    font-size: 1rem;
    color: $text-color;
    background-color: $background-color;

    &:focus {
      border-color: $accent-color;
    }

    &::placeholder {
      color: $text-color;
    }
  }

  &__field-valid {
    border-color: $accent-color;
  }

  &__field-invalid {
    border-color: $error-color;
  }
}
