@import "../../assets/scss/colors.scss";
@import "../../assets/scss/spacers.scss";
@import "../../assets/scss/mixins/typography.mixins.scss";
.input-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__label {
    margin-bottom: 0.5rem;
    @include typography("read", "body");
  }

  &__field {
    border: 2px solid $border-color;
    padding: 0.5rem;
    font-size: 1rem;
    color: $text-color;
    background-color: $background-color;

    &:focus {
      border-color: $accent-color;
    }

    &::placeholder {
      color: $text-color;
    }
  }

  &__field-valid {
    border-color: $accent-color;
  }

  &__field-invalid {
    border-color: $error-color;
  }
}
