@import "../../assets/scss/colors.scss";
@import "../../assets/scss/spacers.scss";
@import "../../assets/scss/mixins/typography.mixins.scss";


    $button-font-size: $spacer-16;
    $button-line-height: $spacer-24;
    $button-text-transform: uppercase;
    $button-letter-spacing: 0.1em;
    $button-color: $background-color;
    $button-background-color: $primary-color-dark;
    $button-border-radius: $spacer-4;
    $button-padding: $spacer-8 $spacer-16;
    $button-transition: all 0.2s ease-in-out;
    
    .primary-button {
      @include typography("titles", "3");
      
      line-height: $button-line-height;
      letter-spacing: $button-letter-spacing;
      color: $button-color;
      background-color: $button-background-color;
      border-radius: $button-border-radius;
      padding: $button-padding;
      transition: $button-transition;
      width: 100%;
    
      &:hover, &:focus {
        background-color: darken($button-background-color, 10%);
      }
      
      svg{
        height: $spacer-24;
        width: $spacer-24;
      }
    }

