@import "../../assets/scss/spacers.scss";
@import "../../assets/scss/mixins/typography.mixins.scss";
@import "../../assets/scss/colors.scss";

.nav-bar-list {
  &__item {
    @include typography("read", "body-bold");
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-bottom: 0.0625rem solid $background-color-secondary;
    border-top-color: rgb(228, 226, 224);
    align-items: center;
    padding: $spacer-16;
    cursor: pointer;

    a {
      @include typography("read", "body-bold");
      color: $text-color;
      text-decoration: none;
    }

    &:hover {
      background-color: $secondary-color;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
