$__breakpoints: (
  phone-portrait: (
    from: 0px,
    to: 419px,
  ),
  phone-portrait-medium: (
    from: 420px,
    to: 320px,
  ),
  phone-landscape: (
    from: 420px,
    to: 639px,
  ),
  tablet-portrait: (
    from: 640px,
    to: 1023px,
  ),
  tablet-landscape: (
    from: 1024px,
    to: 1439px,
  ),
  laptop: (
    from: 1440px,
    to: 1919px,
  ),
  desktop: (
    from: 1920px,
    to: 3840px,
  ),
);