$primary-color-light: #93c5fd;
$primary-color-dark: #007bff;
$secondary-color: #e5e7eb;
$accent-color: #10b981;
$background-color: #f9fafb;
$background-color-secondary: #e8eaed;
$text-color: #374151;
$border-color: #d1d5db;

$error-color: #ff0000;
