$__font-size-10: rem(10px);
$__font-size-12: rem(12px);
$__font-size-14: rem(14px);
$__font-size-16: rem(16px);
$__font-size-18: rem(18px);
$__font-size-20: rem(20px);
$__font-size-24: rem(24px);
$__font-size-26: rem(26px);
$__font-size-28: rem(28px);
$__font-size-32: rem(32px);
$__font-size-36: rem(36px);
$__font-size-40: rem(40px);



