// --------------------------------------------------
//  Named fonts
//
// @usage: Do not use these. Use the semantic fonts instead.
// --------------------------------------------------
$__font-baskerville: 'Libre Baskerville', Georgia, Times, serif;
$__font-montserrat: 'Montserrat', Verdana, Arial, sans-serif;
$__font-activ-grotesk: 'Aktiv Grotesk', Arial, Helvetica, sans-serif;
$__font-activ-grotesk-extended: 'Aktiv Grotesk Extended', Arial, Helvetica,
  sans-serif;
$__font-roxborough: 'Roxborough', 'Times New Roman', times, serif;
